.hero-section {
    background-image: url('../../../assets/job1.jpg');
  }
  
  /* .featured-job:nth-child(1) {
    background-image: url('');
    background-size: cover;
    background-position: center;
  }
  
  .featured-job:nth-child(2) {
    background-image: url('');
    background-size: cover;
    background-position: center;
  }
  
  .featured-job:nth-child(3) {
    background-image: url('');
    background-size: cover;
    background-position: center;
  }
  
  .random-image:nth-child(1) {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  
  .random-image:nth-child(2) {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  
  .random-image:nth-child(3) {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  
  .random-image:nth-child(4) {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  
  .random-image:nth-child(5) {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 200px;
  }
   */