<div class="container mx-auto px-4 py-8">
    <h2 class="text-4xl font-bold mb-8 text-center text-gray-900 dark:text-gray-200">User Profile</h2>
  
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="max-w-3xl mx-auto bg-white dark:bg-gray-800 shadow-md rounded-lg p-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Basic Information -->
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Username</label>
          <input type="text" id="username" 
                 class="w-full px-3 py-2 border rounded-md text-gray-900 dark:text-gray-50 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 [value]="username" disabled>
        </div>
        
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Email</label>
          <input type="email" id="email" 
                 class="w-full px-3 py-2 border rounded-md text-gray-900 dark:text-gray-50 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 [value]="email" disabled>
        </div>
        
        <div>
          <label for="phoneNumber" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Phone Number</label>
          <input type="text" id="phoneNumber" 
                 class="w-full px-3 py-2 border rounded-md text-gray-900 dark:text-gray-50 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 [value]="phoneNumber" disabled>
        </div>



        <div class="mb-4">
          <label for="gender" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Gender</label>
          <select id="gender" class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 text-gray-900 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="gender">
            <option value="" disabled>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div *ngIf="profileForm.get('gender')?.invalid && profileForm.get('gender')?.touched" class="text-red-500 text-sm mt-1">
            Gender is required.
          </div>
        </div>
        
        <div>
          <label for="dateOfBirth" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Date of Birth</label>
          <input type="date" id="dateOfBirth" class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 text-gray-900 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="dateOfBirth">
          <div *ngIf="profileForm.get('dateOfBirth')?.invalid && profileForm.get('dateOfBirth')?.touched" class="text-red-500 text-sm mt-1">
            Date of Birth is required.
          </div>
        </div>
        
        <div>
          <label for="address" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Address</label>
          <input type="text" id="address" class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border text-gray-900 border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="address">
          <div *ngIf="profileForm.get('address')?.invalid && profileForm.get('address')?.touched" class="text-red-500 text-sm mt-1">
            <span *ngIf="profileForm.get('address')?.errors?.['required']">Address is required.</span>
            <span *ngIf="profileForm.get('address')?.errors?.['minlength']">Address must be at least 10 characters long.</span>
          </div>
        </div>
        
        <div>
          <label for="location" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Location</label>
          <input type="text" id="location" class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border text-gray-900 border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="location">
          <div *ngIf="profileForm.get('location')?.invalid && profileForm.get('location')?.touched" class="text-red-500 text-sm mt-1">
            Location is required.
          </div>
        </div>
        
      </div>
  
      <div class="mt-8">
        <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Education</h3>
        <div formArrayName="education">
          <div *ngFor="let edu of educationForms.controls; let i=index" [formGroupName]="i"
               class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 p-4 bg-gray-100 dark:bg-gray-700 rounded-md">
            <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Education {{i + 1}}
              <button type="button" class="float-right text-red-600 dark:text-red-400" (click)="deleteEducation(i)">
                <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
              </button>
            </h4>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Level</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="level">
                     <div *ngIf="educationForms.controls[i].get('level')?.invalid && educationForms.controls[i].get('level')?.touched"
           class="text-red-600 text-sm mt-1">Level is required.
      </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">School/College Name</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="schoolCollegeName">
                     <div *ngIf="educationForms.controls[i].get('schoolCollegeName')?.invalid && educationForms.controls[i].get('schoolCollegeName')?.touched"
           class="text-red-600 text-sm mt-1">schoolCollegeName is required.
      </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Specialization</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="specialization">
                     <div *ngIf="educationForms.controls[i].get('specialization')?.invalid && educationForms.controls[i].get('specialization')?.touched"
                     class="text-red-600 text-sm mt-1">specialization is required.
                </div> 
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Year of Passing</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="yearOfPassing">
                     <div *ngIf="educationForms.controls[i].get('yearOfPassing')?.invalid && educationForms.controls[i].get('yearOfPassing')?.touched"
                     class="text-red-600 text-sm mt-1">yearOfPassing is required.
                </div> 
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">CGPA</label>
              <input type="number"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="cgpa">
                     <div *ngIf="educationForms.controls[i].get('cgpa')?.invalid && educationForms.controls[i].get('cgpa')?.touched"
                     class="text-red-600 text-sm mt-1">cgpa is required.
                </div> 
            </div>
          </div>
        </div>
        <button type="button"
                class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                (click)="addEducation()">Add Education
        </button>
      </div>
      
      
      
  


      <div class="mt-8">
        <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Internships</h3>
        <div formArrayName="internships">
          <div *ngFor="let intern of internshipsForms.controls; let i=index" [formGroupName]="i"
               class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 p-4 bg-gray-100 dark:bg-gray-700 rounded-md relative">
      
            <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Internship {{i + 1}}</h4>
      
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Company Name</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="companyName">
              <div *ngIf="internshipsForms.controls[i].get('companyName')?.invalid && internshipsForms.controls[i].get('companyName')?.touched"
                   class="text-red-600 text-sm mt-1">Company Name is required.
              </div>
            </div>
            <!-- Add other fields with validation messages -->
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Role</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="role">
                     <div *ngIf="internshipsForms.controls[i].get('role')?.invalid && internshipsForms.controls[i].get('role')?.touched"
                     class="text-red-600 text-sm mt-1">role is required.
                </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Duration</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="duration">
                     <div *ngIf="internshipsForms.controls[i].get('duration')?.invalid && internshipsForms.controls[i].get('duration')?.touched"
                     class="text-red-600 text-sm mt-1">duration is required.
                </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Description</label>
              <input type="text"
                     class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                     formControlName="description">
                     <div *ngIf="internshipsForms.controls[i].get('description')?.invalid && internshipsForms.controls[i].get('description')?.touched"
                     class="text-red-600 text-sm mt-1">description is required.
                </div>
            </div>
      
            <button type="button"
                    class="absolute top-0 right-0 mt-2 mr-2 text-red-600 dark:text-red-400"
                    (click)="deleteInternship(i)">
              <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
            </button>
          </div>
        </div>
        <button type="button"
                class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                (click)="addInternships()">Add Internship
        </button>
      </div>
      

<!-- Projects Section -->
<div class="mt-8">
  <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Projects</h3>
  <div formArrayName="projects">
    <div *ngFor="let project of projectsForms.controls; let i=index" [formGroupName]="i"
         class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 p-4 bg-gray-100 dark:bg-gray-700 rounded-md relative">

      <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Project {{i + 1}}</h4>

      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Project Name</label>
        <input type="text"
               class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               formControlName="projectName">
        <div *ngIf="projectsForms.controls[i].get('projectName')?.invalid && projectsForms.controls[i].get('projectName')?.touched"
             class="text-red-600 text-sm mt-1">Project Name is required.
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Description</label>
        <input type="text"
               class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               formControlName="description">
        <div *ngIf="projectsForms.controls[i].get('description')?.invalid && projectsForms.controls[i].get('description')?.touched"
             class="text-red-600 text-sm mt-1">Description is required.
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Duration</label>
        <input type="text"
               class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               formControlName="duration">
        <div *ngIf="projectsForms.controls[i].get('duration')?.invalid && projectsForms.controls[i].get('duration')?.touched"
             class="text-red-600 text-sm mt-1">Duration is required.
        </div>
      </div>

      <button type="button"
              class="absolute top-0 right-0 mt-2 mr-2 text-red-600 dark:text-red-400"
              (click)="deleteProject(i)">
        <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
      </button>
    </div>
  </div>

  <button type="button"
          class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="addProjects()">Add Project
  </button>
</div>



  

<!-- Key Skills -->
<div class="mt-8">
  <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Key Skills</h3>
  <div formArrayName="keySkills" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let skill of keySkillsForms.controls; let i=index" class="relative">
      <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Skill {{i + 1}}</h4>

      <input [formControlName]="i" placeholder="Key Skill"
             class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 py-2 text-gray-900 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
 
      <button type="button"
              class="absolute top-0 right-0 mt-2 mr-2 text-red-600 dark:text-red-400"
              (click)="deleteKeySkill(i)">
        <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
      </button>

      <div *ngIf="keySkillsForms.controls[i].invalid && keySkillsForms.controls[i].touched"
           class="text-red-600 text-sm mt-1">Key Skill is required.
      </div>
    </div>
  </div>
  <button type="button"
          class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="addKeySkill()">Add Key Skill
  </button>
</div>

  
<!-- Achievements -->
<div class="mt-8">
  <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Achievements</h3>
  <div formArrayName="achievements" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let achievement of achievementsForms.controls; let i=index" class="relative">
      <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Achievement {{i + 1}}</h4>

      <input [formControlName]="i" placeholder="Achievement"
             class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 text-gray-900 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      <button type="button"
              class="absolute top-0 right-0 mt-2 mr-2 text-red-600 dark:text-red-400"
              (click)="deleteAchievement(i)">
        <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
      </button>
    </div>
  </div>
  <button type="button"
          class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="addAchievement()">Add Achievement
  </button>
</div>

  
<!-- Certifications -->
<div class="mt-8">
  <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Certifications</h3>
  <div formArrayName="certifications" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let certification of certificationsForms.controls; let i=index" class="relative">
      <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Certification {{i + 1}}</h4>

      <input [formControlName]="i" placeholder="Certification"
             class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 text-gray-900 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      <button type="button"
              class="absolute top-0 right-0 mt-2 mr-2 text-red-600 dark:text-red-400"
              (click)="deleteCertification(i)">
        <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
      </button>
    </div>
  </div>
  <button type="button"
          class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="addCertification()">Add Certification
  </button>
</div>

  
<!-- Languages Known -->
<div class="mt-8">
  <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Languages Known</h3>
  <div formArrayName="languagesKnown" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let language of languagesKnownForms.controls; let i=index" class="relative">
      <h4 class="col-span-2 text-md font-semibold text-gray-900 dark:text-gray-200">Language {{i + 1}}</h4>

      <input [formControlName]="i" placeholder="Language"
             class="w-full dark:bg-gray-700 dark:text-gray-50 px-3 text-gray-900 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      <button type="button"
              class="absolute top-0 right-0 mt-2 mr-2 text-red-600 dark:text-red-400"
              (click)="deleteLanguage(i)">
        <i class="fas fa-trash-alt"></i> <!-- FontAwesome icon for delete -->
      </button>
    </div>
  </div>
  <button type="button"
          class="mt-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="addLanguageKnown()">Add Language
  </button>
</div>



  <!-- Resume Upload (continued) -->
  <div class="mt-8">
    <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Resume Upload</h3>
    <div class="flex items-center justify-center w-full">
      <label for="resume" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-100 dark:bg-gray-700 hover:bg-gray-100">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
          </svg>
          <p class="mb-2 text-sm text-gray-500" *ngIf="!selectedFileName">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500" *ngIf="!selectedFileName">PDF (MAX. 2MB)</p>
          <p class="mb-2 text-sm text-gray-500" *ngIf="selectedFileName">
            Selected file: <span class="font-semibold">{{ selectedFileName }}</span>
          </p>
        </div>
        <input id="resume" type="file" class="hidden" (change)="onFileChange($event)" accept=".pdf"/>
      </label>
     
    </div>
  </div>
  
  <div *ngIf="selectedFileName" class="mt-4">
    <button *ngIf="resumeFilePath" (click)="viewResume(resumeFilePath)" class="text-blue-500 hover:underline">View older Resume</button>
  </div>
 

  <!-- Submit Button -->
  <div class="mt-8">
    <button type="submit" class="w-full px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
      {{ isEditMode ? 'Update Profile' : 'Create Profile' }}
    </button>
    
  </div>
</form>
</div>