<div class="min-h-screen  p-4">
    <div class="max-w-7xl mx-auto">
      <h1 class="text-3xl font-bold mb-6 text-gray-800 dark:text-gray-200">My Job Applications</h1>
  
      <div *ngIf="applications.length === 0" class="text-center text-gray-600 dark:text-gray-300">
        No job applications found.
      </div>
  
      <div *ngIf="applications.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
          *ngFor="let application of applications"
          class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-all duration-300 hover:transform hover:scale-105"
        >
          <h2 class="text-2xl font-semibold mb-2">{{ application.job.role }}</h2>
          <p class="text-gray-600 dark:text-gray-300 mb-1">{{ application.job.companyName }}</p>
          <p class="text-gray-600 dark:text-gray-300 mb-3">{{ application.job.location }}</p>
          <p class="text-gray-600 dark:text-gray-300 mb-4">{{ application.job.jobDescription }}</p>
          <div class="flex justify-between items-center">
            <span class="text-sm text-gray-600 dark:text-gray-300">Applied on: {{ application.applicationDate | date }}</span>
            <a href="{{ application.status }}" target="_blank" rel="noopener noreferrer" class="px-3 py-1 bg-blue-500 text-white rounded-full">{{application.status}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  