<div [ngClass]="{'dark': isDarkMode}" class="flex justify-center items-center min-h-screen transition-colors duration-500"
     [class.bg-dark-gray-900]="isDarkMode" [class.text-dark-gray-100]="isDarkMode">
  <div class="bg-white dark:bg-teal-700 p-8 rounded-lg shadow-2xl w-full max-w-md">
    <h2 class="text-3xl font-bold mb-6 text-center">Sign Up</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" novalidate>
    
      <!-- Username Field -->
      <div class="mb-4">
        <label for="username" class="block text-lg font-medium mb-2">Full Name</label>
        <input id="username" type="text" formControlName="username" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-100 dark:text-dark-gray-900">
        <div *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid" class="text-red-500 mt-2">
          <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required</div>
          <div *ngIf="signupForm.get('username')?.errors?.['pattern']">Username must contain only letters</div>
        </div>
      </div>

      <!-- Email Field -->
      <div class="mb-4">
        <label for="email" class="block text-lg font-medium mb-2">Email</label>
        <input id="email" type="email" formControlName="email" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-100 dark:text-dark-gray-900">
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="text-red-500 mt-2">
          <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</div>
          <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email address</div>
        </div>
      </div>

      <!-- Phone Number Field -->
      <div class="mb-4">
        <label for="phoneNumber" class="block text-lg font-medium mb-2">Phone Number</label>
        <input id="phoneNumber" type="tel" formControlName="phoneNumber" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-100 dark:text-dark-gray-900">
        <div *ngIf="signupForm.get('phoneNumber')?.touched && signupForm.get('phoneNumber')?.invalid" class="text-red-500 mt-2">
          <div *ngIf="signupForm.get('phoneNumber')?.errors?.['required']">Phone number is required</div>
          <div *ngIf="signupForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be exactly 10 digits</div>
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-4">
        <label for="password" class="block text-lg font-medium mb-2">Password</label>
        <input id="password" type="password" formControlName="password" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-100 dark:text-dark-gray-900">
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="text-red-500 mt-2">
          <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>
          <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</div>
        </div>
      </div>

      <!-- Role Selection Dropdown -->
      <div class="mb-6">
        <label for="role" class="block text-lg font-medium mb-2">Role</label>
        <select id="role" formControlName="role" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-100 dark:text-dark-gray-900">
          <option value="USER">User</option>
          <option value="EMPLOYER">Employer</option>
        </select>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="w-full bg-primary-800 hover:bg-primary-600 text-white font-bold py-2 px-4 rounded transition-colors duration-300"
              [disabled]="signupForm.invalid">Sign Up</button>
    </form>
    <hr class="my-6 border-t">
    <div class="flex justify-between items-center">
      <p>Already have an account?</p>
      <!-- Login Link -->
      <a routerLink="/login" class="text-primary-800 dark:text-white text-lg font-medium hover:underline">Login</a>
    </div>
  </div>
</div>
