<div [ngClass]="{'dark': isDarkMode}" class="flex justify-center items-center min-h-screen transition-colors duration-500"
     [class.bg-dark-gray-900]="isDarkMode" [class.text-dark-gray-100]="isDarkMode">
  <div class="bg-white dark:bg-teal-700 p-8 rounded-lg shadow-2xl w-full max-w-md">
    <h2 class="text-3xl font-bold mb-6 text-center">Login</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
      <!-- Email Field -->
      <div class="mb-4">
        <label for="email" class="block text-lg font-medium mb-2">Email</label>
        <input id="email" type="email" formControlName="email" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-700 dark:text-dark-gray-900">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-red-500 mt-2">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email address</div>
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-6">
        <label for="password" class="block text-lg font-medium mb-2">Password</label>
        <input id="password" type="password" formControlName="password" class="w-full p-2 border rounded-lg bg-gray-100 dark:bg-dark-gray-700 dark:text-dark-gray-900">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-500 mt-2">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</div>
        </div>
      </div>

      <!-- Error Message -->
      <div *ngIf="loginError" class="text-red-500 mb-4">{{ loginError }}</div>

      <!-- Submit Button -->
      <button type="submit" class="w-full bg-primary-800 hover:bg-primary-600 text-white font-bold py-2 px-4 rounded transition-colors duration-300"
              [disabled]="loginForm.invalid">Login</button>
    </form>
    <hr class="my-6 border-t">
    <div class="flex justify-between items-center">
      <p>Don't have an account?</p>
      <!-- Signup Link -->
      <a routerLink="/signup" class="text-primary-800 dark:text-white text-lg font-medium hover:underline">Sign Up</a>
    </div>
  </div>
</div>
