<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-md">
      <h2 class="text-xl font-semibold mb-4">
        {{ isUpdateMode ? 'Update' : 'Create' }} Company Profile
      </h2>
      <form [formGroup]="companyProfileForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="companyName" class="block text-sm font-medium text-gray-700">Company Name</label>
          <input type="text" id="companyName" formControlName="companyName"
                 class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
          <div *ngIf="companyProfileForm.get('companyName')?.invalid && companyProfileForm.get('companyName')?.touched"
               class="text-red-500 text-sm mt-1">Company Name is required</div>
        </div>
        <div class="mb-4">
          <label for="companyAddress" class="block text-sm font-medium text-gray-700">Company Address</label>
          <input type="text" id="companyAddress" formControlName="companyAddress"
                 class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
          <div *ngIf="companyProfileForm.get('companyAddress')?.invalid && companyProfileForm.get('companyAddress')?.touched"
               class="text-red-500 text-sm mt-1">Company Address is required</div>
        </div>
        <div class="mb-4">
          <label for="companyWebsite" class="block text-sm font-medium text-gray-700">Company Website</label>
          <input type="text" id="companyWebsite" formControlName="companyWebsite"
                 class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
          <div *ngIf="companyProfileForm.get('companyWebsite')?.invalid && companyProfileForm.get('companyWebsite')?.touched"
               class="text-red-500 text-sm mt-1">Company Website is required</div>
        </div>
        <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600">
          {{ isUpdateMode ? 'Update Profile' : 'Create Profile' }}
        </button>
      </form>
    </div>
  </div>
  